<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>COMP4060</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="stylesheet" href="static/css/style.css" type="text/css">
        <script src="static/js/main.js" defer=""></script>
    </head>

    <body>
        <header>
            <div id="logo"></div>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    
                </ul>
            </nav>
          </header>

          <div id="content">
            <button type="button" id="test">Click me</button>
            
            <p id="qwe">werwer</p>
          </div>
          
    </body>
